@font-face
  font-family: 'node-redis'
  src url('../fonts/node-redis.eot?48657p')
  src url('../fonts/node-redis.eot?48657p#iefix') format('embedded-opentype'),
        url('../fonts/node-redis.ttf?48657p') format('truetype'),
        url('../fonts/node-redis.woff?48657p') format('woff'),
        url('../fonts/node-redis.svg?48657p#node-redis') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'node-redis' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-office:before
  content: "\e903"

.icon-heart:before
  content: "\e9da"

.icon-checkmark:before
  content: "\ea10"
